body {
    margin-bottom: 80px;
}

.page-header {
    margin-top: 0;
}

.panel-body {
    padding-top: 0;
}

.featureImg {
    max-width: 100%;
    margin-bottom: 15px;
}

.list-group-item {
    margin-bottom: 15px;
}

.section {
    border-style: solid;
    border-radius: 25px;
}

#list-group-item {
    color: red;
    border-style: solid;
    border-radius: 25px;
}

